<h1>KaMaNi OAuth 2.0 login provider</h1>


<form action="/authorize" method="post">
  Username: <input type="text" name="username"><br>
  Password: <input type="text" name="password"><br>
  <input type="submit" value="Submit">
</form>