<div class="container">

<div class="row">
<div class="input-field col s10 offset-s1 center">
<h4 class="center-align">KaMaNi OAuth 2.0 <span style="display: block; font-size: 22px;font-weight: 800;">login provider</span></h4>
  <img class="center-align" src='/images/logo.png'>
</div>
</div>




<!--<form action="/authorize" method="post"> -->
	<div class="row">
	 <div class="input-field col s10 offset-s1">
          <input id="username" name="username" type="text" class="validate">
          <label for="username">Username</label>
      </div>
  </div>
  <div class="row">
	 <div class="input-field col s10 offset-s1">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
      </div>
  </div>

<div class="row">
<div class="input-field col s10 offset-s1">
  <input id="login-btn" class="btn" style="width: 100%" type="submit" value="Login">
</div>
</div>

<!-- </form> -->

<div class="row">
<div class="col s10 offset-s1">
<p class="center-align" style='display: block; font-size:11px; color: #B9B6B6;'> All rights reserved - Handin 2 - Identity & Privacy 2015</p>
</div>
</div>

</div>


<script type='text/javascript'>

$( document ).ready(function() {
    $('#login-btn').click(login);
});

function login(){
  $.ajax({
    type: 'POST',
    url: '/authorize',
    data: {
      username: $('#username').val(), 
      password: $('#password').val()
    }
  })
  .done(function(data){
    window.opener.location.document.location.href = data.redirectUrl;
    self.close();
  })
  .fail(function(){alert('Fail');});

}
</script>